$blue-color: #08A6E4;
$black-color: #000000;
$gray-color: #A5A5A5;
$shadow-color: #00000029;
$red-color: #FB3B64;
$red2-color: #EB476E;
$green-color: #55DFB4;
$white-color: #FFFFFF;
$lightgray: #F7F7F7;
$shadow-box-color: #07ACE629;
$input-border-color: #95989A;
$gray-text-color: #707070;