.contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;
  @include tablet {
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;
  }
  .contact_block {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
      @include  tablet {
        width: 100%;
      }
    }
  }
.contact_header {
  font-family: $primary-font;
  font-size: 3rem;
  line-height: 3.6rem;
  color: $black-color;
  margin-right: 114px;
  margin-top: 0;
}
.contact_text {
  font-family: $secondary-font;
  color: $black-color;
  margin: 22px 0 42px;
  font-size: 1rem;
  line-height: 1.4rem;
  @include tablet {
    margin: 5px 0 35px;
  }
}

.contact_icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;


  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }
}
.contact_data {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 600;
  color: $gray-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 27px;
  width: 27px;
  margin-right: 10px;
  @include tablet {
    margin-bottom: 8px;
  }
}
.mail {
  margin-right: 20px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include tablet {
    margin-top: 20px;
  }
}
label {
  &:not(.checkbox, .menu__toggle) {
    font-family: $secondary-font;
    font-weight: bold;
    text-transform: uppercase;
    color: $blue-color;
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.7rem
  }
}
input[type="text"],input[type="email"] {
  width: 100%;
  min-height: 43px;
  outline-style: none;
  border: none;
  border-bottom: 1px solid $input-border-color;

  &:focus {
    border-bottom: 1px solid $blue-color;
    background-color: $lightgray;
  }
}
input[type="text"] {
    margin-bottom: 42px;
}
input[type="email"] {
  margin-bottom: 30px;
}

.checkbox {
    cursor: pointer;
    display: flex;
    color: $gray-text-color;
    font-size: 12px;
    font-family: $secondary-font;

    span {
      height: 24px;
      width: 24px;
      flex-shrink: 0;
      border-radius: 4px;
      border: 1px solid $input-border-color;
      margin-right: 10px;
    }
    p {
      margin: 0 10px;
      font-size: 0.75rem;
      color: $gray-color;
      line-height: 17px;
      margin-top: 20px;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked {
        + span {
          background-image: url("../../assets/Checkmark.svg");
          background-size: 50%;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
button {
  color: $white-color;
  font-family: $secondary-font;
  font-size: 13px;
  padding: 20px 97px;
  border-radius: 35px;
  background-color: $blue-color;
  border: none;
  align-self: flex-end;
}
